* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #c2ceec;
    width: 100vw;
    height: 100vh;
}

#gameContainer {
    text-align: center;
}

h1 {
    color: rgb(94, 94, 142);
}

/* Sets font to the instructions line to papyrus */
.instructions {
    font-family: "papyrus"; 

}
#startButton {
    margin-right: 20px; 
    font-size: 20px;
    height: 100%;

}

/* Created flexbox that aligned all the content the center of the page */
/* Consildated these IDs with the same features  */
#quizcontainer, #FinalScores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#instruction2 {
font-size: 20px;
}

h3 {
    color: rgb(70, 70, 221);
}

h4 {
 font-size: 30px;
}

#highscoresList {
    font-size: 20px;
}