* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #c2ceec;
    width: 100vw;
    height: 100vh;
}

#gameContainer {
    text-align: center;
}

#startButton {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px 
}